:root {
  --grey-0: #101010;
  --grey-1: #222222;
  --grey-1: #353535;
  --white: #ffffff;
}

.auto-theme {
  --bg: var(--grey-0);
  --text-color: var(--white);
}

html,
body,
#root,
.app {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-weight: 300;
  background-color: var(--bg);
  color: var(--text-color);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  .auto-theme {
    --bg: var(--white);
    --text-color: var(--grey-0);
  }
}